
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Student</title>
        <link rel="icon" type="image/ico" href="https://www.hydronationscholars.scot/sites/all/themes/hydronationscholars/images/scholar_icon_small.png">
        <style type="text/css">
                body{
                        background-color: #778BEB;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        color: white;
                }
                .headdiv{
                
                        height: 153px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #574B90;
                        color: #FFF200;
                }
                .tableclass{
                        margin-top: 40px;
                        margin-left: 100px;
                        text-align: center;
                        color: white;
                        position: fixed;
                }
                .showstudent{
                        
                        margin-top: 40px;
                        padding: 10px;
                        padding-top: 10px;
                        background-color: #574B90;
                        width: 360px;
                        /* margin-right: 100px; */
                }
                a{
                        color: white;
                }
                .footer-bottom{
                        margin-bottom: 15px;
                        margin-top: 15px;
                        width: 100%;
                        text-align: center;
                        height: 7%;
                }
        </style>
</head>
<body>
        <div class="headdiv">
                <h1 style="font-size: 4.5rem;">Students</h1>    
        </div>

        <div class="container">
                        <div class="row">
                                <div class="col">
                                        <div class="tableclass">

                                                                <table border="1" cellpadding="8px" cellspacing="0px" width="200px" height="200px">
                                                                                <tr>
                                                                                <td style="color:#FFF200;">
                                                                                        <strong>MENU</strong> 
                                                                                </td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>
                                                                                                <a href="/">Show all students</a><br>
                                                                                        </td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>
                                                                                                <a href="/addStudent">Add Student </a>
                                                                                        </td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>
                                                                                                <a href="/updateStudent">Update Student </a>
                                                                                        </td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>
                                                                                                <a href="/deleteStudent">Delete Student</a>
                                                                                        </td>
                                                                                </tr>
                                                                    
                                                                        </table>
                                        
                                                </div>                

                                </div>
                                
                                <div class="col">        
                        
                                
        
        
    

    

